<% @courses.each do |course| %>
  <a href="/courses/<%=course.id%>"><%= course.professor %><br /></a>
  <%= course.capacity %> <br />
  <%  if course.user_id == session[:id] %>
    <a href="/courses/<%=course.id%>/edit">Edit</a>
    <form method="post" action="/courses/<%= course.id %>">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete Course">
    </form>
  <% end %>
  <br />
  <br />
<% end %>
