<%= @course.professor %><br />
<%= @course.capacity %> <br />

<h2>Reviews</h2>
<ul>
<% @course.reviews.each do |review| %>
  <li><a href="/reviews/<%=review.id%>"><%= review.name %></a></li>
<% end%>
</ul>
<a href="/courses/<%=@course.id%>/edit">Edit</a>
<br />
<br />
