<h1>Edit <%= @review.title %></h1>

<form action="/reviews/<%=@review.id %>" method="POST">
  <label> Review Title </label>
  <input type="text" name="title" value="<%=@review.title %>"> </br>

  <label> Review Content </label>
  <input type="text" name="content" value="<%=@review.content%>"> </br>

  <label> Which Course does this belong in? </label>
  <select name="course_id">
    <% current_user.courses.each do |course| %>
      <option value=<%=course.id %> <%= "selected" if course.id==@review.course.id %> ><%= course.name %></option>
    <% end %>
  </select>

  <input type="submit" value="Update">
</form>
