<%= @review.title %><br />
<%= @review.content %> <br />
Course: <a href="/courses/<%=@review.course.id%>"><%= @review.course.professor %></a> <br />
<a href="/course/<%=@course.id%>/edit">Edit</a>
<br />
<br />
